<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyApp_19_05_B</display-name>
  <welcome-file-list>
    <welcome-file>Registration.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servelet1</display-name>
    <servlet-name>Servelet1</servlet-name>
    <servlet-class>com.app.controller.Servelet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servelet1</servlet-name>
    <url-pattern>/serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servelet2</display-name>
    <servlet-name>Servelet2</servlet-name>
    <servlet-class>com.app.controller.Servelet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servelet2</servlet-name>
    <url-pattern>/serv2</url-pattern>
  </servlet-mapping>
</web-app>